#mainContainer {
  margin-bottom: 100px;
}
.insideContainer {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  width: 300px;
  display: inline-block;
}

form {
  padding-bottom: 3%;
}
