<%- include("partials/header.ejs") %> 
  <body>
    <h1>Cats name:</h1>
    <ul>
      <% for(let cat of catNames){ %>
      <li><%= cat[0].toUpperCase() + cat.slice(1) %></li>
      <% } %>
    </ul>
  </body>
</html>
