<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Homepage</title>
  </head>
  <body>
    <h1>Homepage <%= 4 + 5 + 1 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
      eligendi officia excepturi labore, ea id eius, perspiciatis quisquam minus
      modi neque doloribus error ipsam. Consequatur hic nostrum facere harum
      ullam! Illo, debitis esse quod atque, sint eum quae aperiam possimus
      expedita nulla inventore ipsam dolores est, dolor veniam earum sapiente
      assumenda qui saepe numquam! Assumenda rem iste cum beatae ducimus?
      Consequatur illum blanditiis, nobis dolore obcaecati asperiores quia
      praesentium alias explicabo nisi ipsa laborum amet porro aspernatur quis
      tempore totam itaque reiciendis odio dolorum repellat fugit soluta. Velit,
      iusto aspernatur.
    </p>
    <br />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet dolorum
      aliquid enim adipisci dolore modi repellat, aspernatur laborum est. Dicta,
      nemo? Laboriosam quidem suscipit voluptatum saepe deserunt placeat,
      recusandae minus? Soluta amet eaque maxime vel necessitatibus expedita
      rem, eos obcaecati quaerat nobis mollitia quod explicabo adipisci sapiente
      aliquam ratione qui nisi ullam, illum dolorum in. Magnam veniam
      perspiciatis aut alias?
    </p>
  </body>
</html>
