<%- include("partials/header.ejs %>
  <body>
    <h1>Random number generator</h1>
    <h2>YOur random number is <%= randNum1 %></h2>

    <% if(randNum1 % 2 === 0){ %>
    <h3>This is an even number.</h3>
    <% } else { %>
    <h3>This is a odd number.</h3>
    <% } %>
  </body>
</html>
